<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Success👍</h1>
    <p class="lead">We will reach out to you when your order is shipped.</p>
    <hr class="my-4">
    <!--
    <p>Missed to Order Something! Come Checkout Other Laptops</p>
    <input asp-action="UserIndex" asp-route-id="@ViewBag.id" type="submit" value="Submit" class="btn btn-success" />
    -->
    <a asp-action="index">Missed to Order Something! Come Checkout Other Laptops</a>
</div>
<pre></pre>
<!--
<footer class="my-5 pt-5 text-muted text-center text-small">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>
    -->