@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We have laptops that provide mobility and hazard protection that normal computers simply can't. From everyday bumps and drops to performing in dangerous environments, our heavy-duty laptops keep factory floors, public safety, and field services operating with ease. Find options for tough laptops that stand up to rain, dust, shock, and vibration and more, all while keeping you connected and secure. Explore our laptops Collection </p>
    <pre></pre>
    <p>HAPPY SHOPPING!</p>
</div>
