
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>The Laptop Store</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">
</head>
<body>
    <div background-color="GREEN"; class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div  class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">The Laptop Store</h1>
            <p class="lead font-weight-normal">Find Your Favorite Laptops at affordable Prices.</p>
            <h2>Happy Shopping</h2>
            <pre>

            </pre>
            <a asp-controller="Accounts" asp-action="Register"class="btn btn-outline-secondary">Lets Shop!</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Mac Books !</h2>
                <p class="lead">Shop With the latest available M1 Chip Macs at affordable price</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Windows Laptops</h2>
                <p class="lead">Inbuilt MS Office makes it much more advanced and easy.Shop Now!</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
    </div>
</body>
</html>