@model Phase4Assesment.Models.PizzaModel

@{
    ViewBag.Title = "Laptop Details";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h2>@Model.PName</h2>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src=@Model.Image />

                <h4>Price : &#8377;@Model.Price</h4>
                <h4>Description : @Model.Description</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-action="Index" class="btn-outline-light">Back</a>
                <a id="proceed" asp-route-id="@Model.PizzaId" asp-action="Order" class="btn btn-outline-warning">Buy Now</a>
            </div>
        </div>
    </div>
</div>
