@model IEnumerable<Phase4Assesment.Models.PizzaModel>

@{
    ViewData["Title"] = "Index";
}
    <div class="card-deck">
        @foreach (var item in Model)
        {
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@item.PName</h3>
                </div>
                <img class="card-img-top" src=@item.Image alt="Pizza Image" height="300px" />
                <div class="card-footer text-center">
                    <a id="@item.PizzaId" asp-action="Details" asp-route-id="@item.PizzaId" class="btn btn-success">Order Now</a>
                </div>
            </div>
        }
    </div>
